@import 'spinner.css';
@import 'artCard.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
   /*border: 1px solid red;*/
}

.art-form {
   margin-bottom: 30px; 
}

.dropzone {
    margin: 0 auto;
}

.react-date-picker__button__input__input {
    height: 100% !important;
    font-size: inherit !important;

}